---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - autotune.mikeziminio.github.io
  resources:
  - queuescalingpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - autotune.mikeziminio.github.io
  resources:
  - queuescalingpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - autotune.mikeziminio.github.io
  resources:
  - queuescalingpolicies/status
  verbs:
  - get
  - patch
  - update
